{% extends 'base.html' %}
{% load static %}
{% block title %}Create Customer{% endblock %}
{% block favicon %}{% static 'Images/add-Customer.png' %}{% endblock %}
{% block content %}
    
    <!-- Start content -->
    <div class="content" id="mainContent">
        <h1 style="text-align: center; margin-top:15px; color:#023047;">Create Customer</h1>
        {%include 'parts/alerts.html'%}
        <div class="container">
            <form id="customer_form" method='POST' enctype="multipart/form-data">
                {% csrf_token %}
                <div class="box" style="margin-left: 40px;">
                    <label for="name">Enter Name </label>
                    <input type="text" id="name" name="name" placeholder="Enter Name" required>
                </div>

                <div class="box" style="margin-left: 40px;">
                    <label for="phone_number">Phone Number</label>
                    <input type="text" id="phone_number" name="phone_number" placeholder="Enter Phone Number" maxlength="12" required>    
                </div>
            
                <div class="box" style="margin-left: 40px;">
                    <label for="age">Age</label>
                    <input type="number" id="age" name="age" placeholder="Enter Age" required>
                </div>

                <div class="box" style="margin-left: 40px;">
                    <label for="address">Address</label>
                    <input type="text" id="address" name="address" placeholder="Enter Address" required>
                </div>

                <div class="box" style="margin-left: 80px;">
                    <label for="interest" style="margin-left: 0px;">Interest</label>
                    <select id="interest" name="Interest" required>
                        <option value="">Select</option>
                        <option value="Programming">Programming</option>
                        <option value="Design">Design</option>
                        <option value="Marketing">Marketing</option>
                        <option value="Business">Business</option>
                        <option value="Other">Other</option>
                    </select>
                </div>

                <div class="box" style="margin-left: 80px;">
                    <label for="howDidWeKnow" style="margin-left: 0px;">How did we know</label>
                    <select id="howDidWeKnow" name="howDidWeKnow" required>
                        <option value="">Select</option>
                        <option value="Facebook">Facebook</option>
                        <option value="Instagram">Instagram</option>
                        <option value="TikTok">TikTok</option>
                        <option value="Friend">Friend</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            
                <div class="box" style="margin-left: 40px;">
                    <label id='label_img' for="imageUpload">Screenshot</label>
                    <input type="file" id="imageUpload" name="image" accept="image/*" required><br><br>
                </div>
            
                <div class="box" style="margin-left: 40px;">
                    <label for="notes">Notes</label>
                    <textarea id="notes" name="notes" rows="4" cols="50" placeholder="Notes"></textarea><br><br>
                </div>



                <button type="submit" id="submit">Save</button>
            </form>
        </div>
    </div>
    <!-- End content -->


{% endblock %}
