{% extends 'base_tables.html' %}
{% load static %}
{% block title %}Order{% endblock %}
{% block favicon %}{% static 'Images/order.png' %}{% endblock %}
{% block content %}


<!-- Start content -->
<div class="content" id="mainContent">
        <!-- Start search-filter -->
        <form method="GET" action="{% url 'search_orders' %}">
            <section class="search-filter">
                <div class="filter-item">
                    <label for="name">Name </label>
                    <input type="text" id="name" name="name" placeholder="Enter Name">
                </div>
        
                <div class="filter-item">
                    <label for="phone_number">Phone number</label>
                    <input type="text" id="phone_number" name="phone_number" placeholder="Enter phone number">
                </div>
        
                <div class="filter-item">
                    <label for="date">Date</label>
                    <input type="date" name="date" id="date">
                </div>
        
                <div class="filter-item">
                    <label for="address">Address </label>
                    <input type="text" id="address" name="address" placeholder="Enter Address ">
                </div>
        
                <div class="filter-item">
                    <label for="status">Status</label>
                    <select id="status" name="status">  
                        <option value="">Select Status</option>
                        <option value="Request">Request</option>
                        <option value="Pending">Pending</option>
                        <option value="Approve">Approve</option>
                        <option value="Cancel">Cancel</option>
                    </select>
                </div>
        
                <div class="filter-item">
                    <label for="order_type">Type Order</label>
                    <select id="order_type" name="order_type">
                        <option value="">Select Order</option>
                        <option value="Mug">Mug</option>
                        <option value="Magic Mug">Magic Mug</option>
                        <option value="T-shirt printing">T-shirt printing</option>
                        <option value="Tableau">Tableau</option>
                        <option value="Sticker">Sticker</option>
                    </select>
                </div>
        
                <div class="filter-item">
                    <label for="product_price">Product Price</label>
                    <input type="number" id="product_price" name="product_price" placeholder="Enter Product Price ">
                </div>
        
                <div class="filter-item">
                    <label for="shipping_price">Shipping Price</label>
                    <input type="number" id="shipping_price" name="shipping_price" placeholder="Enter Shipping Price ">
                </div>
        
                <div class="filter-item">
                    <label for="created_by">Created by</label>
                    <input type="text" id="created_by" name="created_by" placeholder="Enter Created by">
                </div>
        
                <div class="filter-item">
                    <label for="code">Code</label>
                    <input type="text" id="code" name="code" placeholder="Enter Code">
                </div>

                <div class="filter-actions">
                    <button type="submit" class="btn search-btn">Search</button>
                    <a href="{% url 'create_order' %}"><button type="button" class="btn add-unit-btn">Create Order</button></a>
                </div>
            </section>
        </form>
        
        <!-- End search-filter -->
        <!-- Start table -->
        {%include 'parts/alerts.html'%}
        <div class="table-container">
            <section class="table">
            <table id="example" class="cell-border" style="width:100%">
                <thead>
                    <tr>
                        <th> ID </th>
                        <th>Name Customer</th>
                        <th>Phone Number</th>
                        <th>Date</th>
                        <th>Address</th>
                        <th>Type Order</th>
                        <th>Product Price</th>
                        <th>Shipping Price</th>
                        <th>Status</th>
                        <th>Code</th>
                        <th>Created by</th>
                        <th>Created ID</th>
                        <th>Setting</th>
                    </tr>
                </thead>
                <tbody>
                {% for orders in Order %}
                    <tr>
                            <td>{{ orders.id }}</td>
                            <td>{{ orders.name }}</td>
                            <td>{{ orders.phone_number }}</td>
                            <td>{{ orders.created_at|date:"d/m/Y - h:i:s A"}}</td> 
                            <td>{{ orders.address }}</td>
                            <td>{{ orders.order_type }}</td>
                            <td>${{ orders.product_price }}</td>
                            <td>${{ orders.shipping_price }}</td>
                            <td>{{ orders.status }}</td>
                            <td>{{ orders.code }}</td>
                            <td>{{ orders.created_by.username }}</td>
                            <td>{{ orders.created_by.id }}</td>
                            <td>
                            <a href="{% url 'update_order' orders.id%}">
                                <button><i class="fa-regular fa-pen-to-square"></i></button>
                            </a>
                            
                            <a href="{% url 'order_detail' orders.id %}">
                                <button><i class="fa-solid fa-print"></i></button>
                            </a>

                            <a href="{% url 'create_review_orders' orders.id %}">
                                <button><i class="fa-solid fa-star" style="color: #FFD43B;"></i></button>
                            </a>

                            <a href="{% url 'delete_orders' orders.id %}" onclick="return confirm('Are you sure, you are about to delete the order?')">
                                <button><i class="fa-regular fa-trash-can" style="color: #ed0202;"></i></button>
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="11">No orders found.</td>
                    </tr>
                {% endfor %}
            </tbody>
            
            </table>
            
            </section> 
        </div> 
        <!-- End table -->
</div> 

<!-- End content -->
{%  endblock %}