{% extends 'base_tables.html' %}
{% load static %}
{% block title %}Search Customers{% endblock %}
{% block favicon %}{% static 'Images/Search.png' %}{% endblock %}
{% block content %}


<!-- Start content -->
<div class="content" id="mainContent">
        <!-- Start search-filter -->
        <section class="search-filter">
            <h1 style=" color:#ffff " >Search Filter</h1> 
            <div class="filter-actions">
                <a href="{% url 'customers' %}"><button class="btn add-unit-btn">Back Customers</button></a>
            </div>
        </section>
        
        <!-- End search-filter -->
        <!-- Start table -->
        {%include 'parts/alerts.html'%}
        <div class="table-container">
            <section class="table">

            <table id="example" class="cell-border" style="width:100%">
                    <thead>
                        <tr>
                            <th> ID </th>
                            <th> Name </th>
                            <th> Phone Number </th>
                            <th> Age </th>
                            <th> Date </th>
                            <th> Address </th>
                            <th> Interest  </th>
                            <th> How did we know </th>
                            <th>Code</th>
                            <th>Created by</th>
                            <th>Created by ID</th>
                            <th>Setting</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in customers %}
                        <tr>
                            <td>{{ customer.id }}</td>
                            <td>{{ customer.name }}</td>
                            <td>{{ customer.phone_number }}</td>
                            <td>{{ customer.age }}</td>
                            <td>{{ customer.created_at|date:"d/m/Y -H:i:s A" }}</td>
                            <td>{{ customer.address }}</td>
                            <td>{{ customer.interest }}</td>
                            <td>{{ customer.how_did_we_know }}</td>
                            <td>{{ customer.code }}</td>
                            <td>{{ customer.created_by.username }}</td>
                            <td>{{ customer.created_by.id }}</td>
                            <td>
                                <a href="{%  url 'update_customer' customer.id  %}">
                                    <button><i class="fa-regular fa-pen-to-square"></i></button>
                                </a>
                                <a href="{% url 'customer_detail' customer.id %}">
                                    <button><i class="fa-solid fa-print"></i></button>
                                </a>
                                <a href="{% url 'delete_customer' customer.id %}" onclick="return confirm('Are you sure, you are about to delete the customer?')">
                                    <button><i class="fa-regular fa-trash-can" style="color: #ed0202;"></i></button>
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="10">No customers found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                        
                </table>
            </section> 
        </div> 
        <!-- End table -->
</div> 
<!-- End content -->
{%  endblock %}