{% extends 'base_tables.html' %}
{% load static %}
{% block title %}Customers{% endblock %}
{% block favicon %}{% static 'Images/Customers.png' %}{% endblock %}
{% block content %}


<!-- Start content -->
<div class="content" id="mainContent">
        <!-- Start search-filter -->
        <form method="GET" action="{% url 'search_customers' %}"> 
        <section class="search-filter">
                <div class="filter-item">
                    <label for="name">Name Customer</label>
                    <input type="text" id="name" name="name" placeholder="Enter Name">
                </div>
        
                <div class="filter-item">
                    <label for="phone_number">Phone number</label>
                    <input type="text" id="phone_number" name="phone_number" placeholder="Enter phone number..">
                </div>
        
                <div class="filter-item">
                    <label for="age">Age</label>
                    <input type="text" id="age" name="age" placeholder="Enter Age" >
                </div>
        
                <div class="filter-item">
                    <label for="date">Date</label>
                    <input type="date" id="date" name="date">
                </div>
        
                <div class="filter-item">
                    <label for="address">Address </label>
                    <input type="text" id="address" name="address" placeholder="Enter Address" >
                </div>
        
                <div class="filter-item">
                    <label for="interest">Interest</label>
                    <select id="interest" name="interest" >
                        <option value="">Select</option>
                        <option value="Programming">Programming</option>
                        <option value="Design">Design</option>
                        <option value="Marketing">Marketing</option>
                        <option value="Business">Business</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
        
                <div class="filter-item">
                    <label for="howDidWeKnow">How did we know</label>
                    <select id="howDidWeKnow" name="howDidWeKnow" >
                        <option value="">Select</option>
                        <option value="Facebook">Facebook</option>
                        <option value="Instagram">Instagram</option>
                        <option value="TikTok">TikTok</option>
                        <option value="Friend">Friend</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
        
                <div class="filter-item">
                    <label for="created_by">Created by</label>
                    <input type="text" id="created_by" name="created_by" placeholder="Enter Created by">
                </div>
        
                <div class="filter-item">
                    <label for="code">Code</label>
                    <input type="text" id="code" name="code" placeholder="Enter Code">
                </div>
                
                <div class="filter-actions">
                    <button type="submit" class="btn search-btn">Search</button>
                    <a href="{% url 'create_customer' %}"><button type="button" class="btn add-unit-btn">Create Customer</button></a>
                </div>
            </section>
        </form>
        
        <!-- End search-filter -->
        <!-- Start table -->
        {%include 'parts/alerts.html'%}
        <div class="table-container">
            <section class="table">
            <table id="example" class="cell-border" style="width:100%">
                    <thead>
                        <tr>
                            <th> ID </th>
                            <th> Name Customer</th>
                            <th> Phone Number </th>
                            <th> Age </th>
                            <th> Date </th>
                            <th> Address </th>
                            <th> Interest  </th>
                            <th> How did we know </th>
                            <th>Code</th>
                            <th>Created by</th>
                            <th>Created by ID</th>
                            <th>Setting</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in customers %}
                        <tr>
                            <td>{{ customer.id }}</td>
                            <td>{{ customer.name }}</td>
                            <td>{{ customer.phone_number }}</td>
                            <td>{{ customer.age }}</td>
                            <td>{{ customer.created_at|date:"d/m/Y - h:i:s A" }}</td>
                            <td>{{ customer.address }}</td>
                            <td>{{ customer.interest }}</td>
                            <td>{{ customer.how_did_we_know }}</td>
                            <td>{{ customer.code }}</td>
                            <td>{{ customer.created_by.username }}</td>
                            <td>{{ customer.created_by.id }}</td>
                            <td>
                                <a href="{%  url 'update_customer' customer.id  %}">
                                    <button><i class="fa-regular fa-pen-to-square"></i></button>
                                </a>
                                <a href="{% url 'customer_detail' customer.id %}">
                                    <button><i class="fa-solid fa-print"></i></button>
                                </a>
                                <a href="{% url 'delete_customer' customer.id %}" onclick="return confirm('Are you sure, you are about to delete the customer?')">
                                    <button><i class="fa-regular fa-trash-can" style="color: #ed0202;"></i></button>
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="10">No customers found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                        
                </table>
            </section> 
        </div> 
        <!-- End table -->
</div> 

<!-- End content -->
{%  endblock %}